/* page.module.css */

  .pbfooter{
    display: flex;
    margin-top:100vh;
    justify-content: center;
}/* styles/Home.module.css */
/* YourComponent.module.css */

.hidefile{
  display: flex;
  flex-direction: row-reverse;
flex-flow: column;
height: 400px;
width: 250px;
justify-content: center;
text-align: center;
justify-items: center;

  
}
